---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp

# Use const char* str instead of const char *str
DerivePointerAlignment: false
PointerAlignment: Left

ColumnLimit: 120

# Important: Nested templates get broken with C++11 formatting
Standard: Cpp03
---
