---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp

# Use const char* str instead of const char *str
DerivePointerAlignment: false
PointerAlignment: Left

# Sorry Stan, my screen isn't wide enough for 120 characters
ColumnLimit: 100

# Break after template <typename> lines
AlwaysBreakTemplateDeclarations: true

# Important: Nested templates get broken with C++11 formatting
Standard: Cpp03
---
